body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #036d19;
  background-image: url("spotify logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40% 70%;
  background-attachment: fixed;
}

span.result {
  color: white;
}

h1.display-4 {
  display: inline-block;
  color: #ffd300;
  font-weight: lighter;
  margin-left: 1rem;
}

.center {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: fit-content;
}

i {
  color: grey;
}

h1.display-2 {
  font-weight: lighter;
}

.card {
  transition: 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
}
